@page "/imageloader"

@using ImageLoader.Data
@inject FileSystemService fileSystemService

<h3>Image loader</h3>

<button @onclick=UploadImages name="click">Load in BD</button>

<table class="table">
    <thead>
        <tr>
            <th>Filename</th>
            <th>Load</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var name in names)
        {
            <tr>
                <td>@name</td>
                <td><button @onclick="() => Download(name)">Load</button></td>
            </tr>   
        }
    </tbody>
</table>

<img src="@path" width="1000"/>

@code {
    string? path;
    List<string> names = new List<string>();

    protected override void OnInitialized()
    {
        LoadNames();
    }

    private void LoadNames()
    {
        names = fileSystemService.GetNamesOfImages();
    }

    private void Download(string name)
    {
        path = fileSystemService.DownloadToLocal(name);
    } 

    private void UploadImages()
    {
        fileSystemService.UploadImageToDb("C:/Users/202011/Pictures/Images");
        LoadNames();
    }
}
